body {
  margin: 0;
  font-family: cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fffafa;
}

code {
  font-family: cursive;
}

footer {
  position: fixed;
  bottom: -1rem;
  width: 100%;
  height: 50px;
  background-color: #fffafa;
}
